*~
*.class
/.project
/.pydevproject
/.classpath
/.settings
/.gradle
/publish
/docs/api
/build
/bin
/lib/junit.jar
/lib/jame.jar
/lib/itchy.jar
/lib/native
/test.bsh
/docs/ideas.txt
/lib/
/docs/itchy-linux.tar.gz
/docs/itchy-src.zip
/docs/itchy-win32.zip
/docs/diagrams/core.png
/docs/diagrams/drunkInvaders-thumbnail.png
/docs/diagrams/drunkInvaders.png
/docs/diagrams/core-thumbnail.png
/docs/diagrams/extras-thumbnail.png
/docs/diagrams/extras.png
/docs/diagrams/overview-thumbnail.png
/docs/diagrams/overview.png
/resources/Launcher/nickthecoder-itchy.desktop
/resources/FontPreview

