<scene showMouse="true" role="uk.co.nickthecoder.itchy.PlainSceneDirector" background="#000000ff">
  <properties/>
  <layer name="main">
    <text text="The Mings" font="Boycott" size="60" color="#ffffff" xAlignment="0.5" yAlignment="0.5" x="497" y="580" direction="0.0" heading="0.0" startEvent="default" zOrder="0"/>
    <text text="Play" font="Boycott" size="22" color="#ffffff" xAlignment="0.5" yAlignment="0.5" role="uk.co.nickthecoder.itchy.role.SceneButton" x="490" y="437" direction="0.0" heading="0.0" startEvent="default" zOrder="1">
      <property name="sceneName" value="test"/>
    </text>
    <text text="Quit" font="Boycott" size="22" color="#ffffff" xAlignment="0.5" yAlignment="0.5" role="uk.co.nickthecoder.itchy.role.QuitButton" x="494" y="157" direction="0.0" heading="0.0" startEvent="default" zOrder="2"/>
  </layer>
</scene>
