<scene name="menu" layout="default" sceneDirector="Menu.groovy" showMouse="true">
  <layer name="background"/>
  <layer name="main">
    <actor costume="background" x="-1.0" y="601.0" zOrder="1" alpha="57.0"/>
    <text x="164.0" y="554.0" zOrder="2" font="Boycott" fontSize="57.0" text="It's Gonna" color="#6b6f2eff" alpha="128.0"/>
    <text x="167.0" y="551.0" zOrder="3" font="Boycott" fontSize="54.0" text="It's Gonna" color="#6b6f2eff"/>
    <text x="172.0" y="445.0" zOrder="4" font="Boycott" fontSize="140.0" text="Rain" color="#3d2b0aff" alpha="160.0"/>
    <text x="171.0" y="441.0" zOrder="5" font="Boycott" fontSize="128.0" text="Rain" color="#cc9656ff" alpha="121.0"/>
    <text costume="button" x="705.0" y="51.0" zOrder="80" font="BlackCasper" fontSize="80.0" text="Quit" color="#694cffff" role="uk.co.nickthecoder.itchy.role.QuitButton" makeup="uk.co.nickthecoder.itchy.makeup.Shadow">
      <makeup dx="7" dy="5" color="#262063ff"/>
    </text>
    <text costume="button" x="109.0" y="47.0" zOrder="80" font="BlackCasper" fontSize="80.0" text="About" color="#694cffff" role="uk.co.nickthecoder.itchy.role.SceneButton" makeup="uk.co.nickthecoder.itchy.makeup.Shadow">
      <role sceneName="about"/>
      <makeup dx="7" dy="5" color="#262063ff"/>
    </text>
    <text costume="button" x="548.0" y="255.0" zOrder="80" font="BlackCasper" fontSize="80.0" text="Hard" color="#694cffff" role="uk.co.nickthecoder.itchy.role.SceneButton" makeup="uk.co.nickthecoder.itchy.makeup.Shadow">
      <role sceneName="hard"/>
      <makeup dx="7" dy="5" color="#262063ff"/>
    </text>
    <text costume="button" x="545.0" y="169.0" zOrder="80" font="BlackCasper" fontSize="80.0" text="Custom" color="#694cffff" role="uk.co.nickthecoder.itchy.role.SceneButton" makeup="uk.co.nickthecoder.itchy.makeup.Shadow">
      <role sceneName="customise"/>
      <makeup dx="7" dy="5" color="#262063ff"/>
    </text>
    <text costume="button" x="538.0" y="439.0" zOrder="80" font="BlackCasper" fontSize="80.0" text="Easy" color="#694cffff" role="uk.co.nickthecoder.itchy.role.SceneButton" makeup="uk.co.nickthecoder.itchy.makeup.Shadow">
      <role sceneName="easy"/>
      <makeup dx="7" dy="5" color="#262063ff"/>
    </text>
    <text costume="button" x="539.0" y="356.0" zOrder="80" font="BlackCasper" fontSize="80.0" text="Medium" color="#694cffff" role="uk.co.nickthecoder.itchy.role.SceneButton" makeup="uk.co.nickthecoder.itchy.makeup.Shadow">
      <role sceneName="medium"/>
      <makeup dx="7" dy="5" color="#262063ff"/>
    </text>
  </layer>
</scene>
