<scene showMouse="true" behaviour="Menu.js">
  <properties/>
  <layer name="main">
    <actor costume="background" x="0" y="600" direction="0.0" startEvent="default" alpha="57.0"/>
    <text text="It's Gonna" font="Boycott" size="57" color="#000000" xAlignment="0.5" yAlignment="0.5" x="164" y="554" direction="0.0" startEvent="default"/>
    <text text="It's Gonna" font="Boycott" size="54" color="#6b6f2e" xAlignment="0.5" yAlignment="0.5" x="167" y="553" direction="0.0" startEvent="default"/>
    <text text="Rain" font="Boycott" size="140" color="#3d2b0a" xAlignment="0.5" yAlignment="0.5" x="172" y="445" direction="0.0" startEvent="default" alpha="160.0"/>
    <text text="Rain" font="Boycott" size="128" color="#cc9656" xAlignment="0.5" yAlignment="0.5" x="167" y="449" direction="0.0" startEvent="default" alpha="121.0"/>
    <text text="Easy" font="BlackCasper" size="58" color="#333364" xAlignment="0.5" yAlignment="0.5" x="162" y="327" direction="0.0" startEvent="default"/>
    <text text="Medium" font="BlackCasper" size="54" color="#333364" xAlignment="0.5" yAlignment="0.5" x="174" y="246" direction="0.0" startEvent="default"/>
    <text text="Easy" font="BlackCasper" size="51" color="#5d8cc5" xAlignment="0.5" yAlignment="0.5" behaviour="uk.co.nickthecoder.itchy.extras.MessageButton" costume="play" x="160" y="329" direction="0.0" startEvent="default">
      <property name="message" value="scene:easy"/>
    </text>
    <text text="Hard" font="BlackCasper" size="61" color="#333364" xAlignment="0.5" yAlignment="0.5" x="162" y="170" direction="0.0" startEvent="default"/>
    <text text="Quit" font="Boycott" size="41" color="#333364" xAlignment="0.5" yAlignment="0.5" x="738" y="36" direction="0.0" startEvent="default"/>
    <text text="Medium" font="BlackCasper" size="46" color="#5d8cc5" xAlignment="0.5" yAlignment="0.5" behaviour="uk.co.nickthecoder.itchy.extras.MessageButton" costume="play" x="170" y="248" direction="0.0" startEvent="default">
      <property name="message" value="scene:medium"/>
    </text>
    <text text="Editor" font="Boycott" size="40" color="#333364" xAlignment="0.5" yAlignment="0.5" x="227" y="39" direction="0.0" startEvent="default"/>
    <text text="Hard" font="BlackCasper" size="53" color="#5d8cc5" xAlignment="0.5" yAlignment="0.5" behaviour="uk.co.nickthecoder.itchy.extras.MessageButton" costume="play" x="160" y="170" direction="0.0" startEvent="default">
      <property name="message" value="scene:hard"/>
    </text>
    <text text="Quit" font="Boycott" size="35" color="#5d8cc5" xAlignment="0.5" yAlignment="0.5" behaviour="uk.co.nickthecoder.itchy.extras.MessageButton" costume="quit" x="736" y="35" direction="0.0" startEvent="default">
      <property name="message" value="quit"/>
    </text>
    <text text="About" font="Boycott" size="41" color="#333364" xAlignment="0.5" yAlignment="0.5" x="83" y="38" direction="0.0" startEvent="default"/>
    <text text="EDITOR" font="Boycott" size="37" color="#5d8cc5" xAlignment="0.5" yAlignment="0.5" behaviour="uk.co.nickthecoder.itchy.extras.MessageButton" costume="editor" x="227" y="39" direction="0.0" startEvent="default">
      <property name="message" value="editor"/>
    </text>
    <text text="About" font="Boycott" size="35" color="#5d8cc5" xAlignment="0.5" yAlignment="0.5" behaviour="uk.co.nickthecoder.itchy.extras.MessageButton" costume="quit" x="79" y="39" direction="0.0" startEvent="default">
      <property name="message" value="scene:about"/>
    </text>
  </layer>
</scene>
