<scene name="menu" layout="default" sceneDirector="menu.py" showMouse="true">
  <layer name="background"/>
  <layer name="main">
    <text x="211.0" y="553.0" font="veraBold" fontSize="64.0" text="Dodge 'Em" xAlignment="0.0" yAlignment="0.0" role="uk.co.nickthecoder.itchy.role.SceneButton" makeup="uk.co.nickthecoder.itchy.makeup.Shadow">
      <role sceneName="play"/>
      <makeup dx="4" dy="-4"/>
    </text>
    <text x="90.0" y="444.0" font="veraBold" fontSize="24.0" text="Move your square with the mouse" xAlignment="0.0" yAlignment="0.0" role="uk.co.nickthecoder.itchy.role.SceneButton" makeup="uk.co.nickthecoder.itchy.makeup.Shadow">
      <role sceneName="play"/>
      <makeup dx="4" dy="-4"/>
    </text>
    <text x="88.0" y="403.0" font="veraBold" fontSize="24.0" text="Don't touch the walls" xAlignment="0.0" yAlignment="0.0" role="uk.co.nickthecoder.itchy.role.SceneButton" makeup="uk.co.nickthecoder.itchy.makeup.Shadow">
      <role sceneName="play"/>
      <makeup dx="4" dy="-4"/>
    </text>
    <text costume="clickMe" x="696.0" y="52.0" activationDelay="0.4" font="veraBold" fontSize="48.0" text="Quit" role="uk.co.nickthecoder.itchy.role.QuitButton" makeup="uk.co.nickthecoder.itchy.makeup.Shadow">
      <makeup dx="4" dy="-4"/>
    </text>
    <text costume="clickMe" x="487.0" y="60.0" activationDelay="0.2" font="veraBold" fontSize="48.0" text=">>" makeup="uk.co.nickthecoder.itchy.makeup.Shadow">
      <role message="next"/>
      <makeup dx="4" dy="-4"/>
    </text>
    <text costume="clickMe" x="310.0" y="58.0" font="veraBold" fontSize="48.0" text="&lt;&lt;" makeup="uk.co.nickthecoder.itchy.makeup.Shadow">
      <role message="prev"/>
      <makeup dx="4" dy="-4"/>
    </text>
    <text x="400.0" y="262.0" font="veraBold" fontSize="32.0" text="Choose a Scene" yAlignment="0.0" role="uk.co.nickthecoder.itchy.role.SceneButton" makeup="uk.co.nickthecoder.itchy.makeup.Shadow">
      <role sceneName="play"/>
      <makeup dx="4" dy="-4"/>
    </text>
    <text x="88.0" y="363.0" font="veraBold" fontSize="24.0" text="Don't touch anything of a different color" xAlignment="0.0" yAlignment="0.0" role="uk.co.nickthecoder.itchy.role.SceneButton" makeup="uk.co.nickthecoder.itchy.makeup.Shadow">
      <role sceneName="play"/>
      <makeup dx="4" dy="-4"/>
    </text>
    <actor costume="thumbnail" x="400.0" y="146.0" zOrder="50" id="thumbnail" makeup="uk.co.nickthecoder.itchy.makeup.SimpleFrame">
      <role message="go"/>
      <makeup borderWidth="6"/>
    </actor>
    <text x="400.0" y="83.0" zOrder="51" id="name" font="veraBold" fontSize="40.0" text="a" color="#008f00ff" yAlignment="0.0" makeup="uk.co.nickthecoder.itchy.makeup.Shadow">
      <makeup dx="4" dy="-4"/>
    </text>
  </layer>
  <layer name="wrapped"/>
</scene>
