<scene name="menu" layout="default" sceneDirector="uk.co.nickthecoder.itchy.PlainSceneDirector" showMouse="true">
  <layer name="background"/>
  <layer name="main">
    <text x="320.0" y="186.0" font="veraBold" fontSize="64.0" text="Play" xAlignment="0.0" yAlignment="0.0" role="uk.co.nickthecoder.itchy.role.SceneButton" makeup="uk.co.nickthecoder.itchy.makeup.Shadow">
      <role sceneName="play"/>
      <makeup dx="4" dy="-4"/>
    </text>
    <text x="679.0" y="64.0" font="veraBold" fontSize="43.0" text="Quit" xAlignment="0.0" yAlignment="0.0" role="uk.co.nickthecoder.itchy.role.QuitButton" makeup="uk.co.nickthecoder.itchy.makeup.Shadow">
      <makeup dx="4" dy="-4"/>
    </text>
    <text x="211.0" y="553.0" font="veraBold" fontSize="64.0" text="Dodge 'Em" xAlignment="0.0" yAlignment="0.0" role="uk.co.nickthecoder.itchy.role.SceneButton" makeup="uk.co.nickthecoder.itchy.makeup.Shadow">
      <role sceneName="play"/>
      <makeup dx="4" dy="-4"/>
    </text>
    <text x="87.0" y="403.0" font="veraBold" fontSize="32.0" text="Use your mouse to move" xAlignment="0.0" yAlignment="0.0" role="uk.co.nickthecoder.itchy.role.SceneButton" makeup="uk.co.nickthecoder.itchy.makeup.Shadow">
      <role sceneName="play"/>
      <makeup dx="4" dy="-4"/>
    </text>
    <text x="87.0" y="355.0" font="veraBold" fontSize="32.0" text="Don't get hit" xAlignment="0.0" yAlignment="0.0" role="uk.co.nickthecoder.itchy.role.SceneButton" makeup="uk.co.nickthecoder.itchy.makeup.Shadow">
      <role sceneName="play"/>
      <makeup dx="4" dy="-4"/>
    </text>
    <text x="88.0" y="303.0" font="veraBold" fontSize="32.0" text="Don't touch the walls" xAlignment="0.0" yAlignment="0.0" role="uk.co.nickthecoder.itchy.role.SceneButton" makeup="uk.co.nickthecoder.itchy.makeup.Shadow">
      <role sceneName="play"/>
      <makeup dx="4" dy="-4"/>
    </text>
  </layer>
</scene>
