<scene name="menu" layout="default" sceneDirector="uk.co.nickthecoder.drunkinvaders.Menu" showMouse="true">
  <layer name="background">
    <actor costume="earth" zOrder="1" id="" colorize=""/>
  </layer>
  <layer name="main">
    <actor costume="alien3" x="163.0" y="365.0" heading="-90.0" zOrder="2" id="" scale="6.107142857142857" direction="-90.0" colorize="#00ff0022" role="uk.co.nickthecoder.drunkinvaders.Alien">
      <role vx="0.0" vy="0.0" mass="1.0" fireOnceEvery="15.0" shotsRequired="100"/>
    </actor>
    <actor costume="ship" x="198.0" y="85.0" heading="93.94518622903759" zOrder="3" id="" direction="93.94518622903759" colorize="" role="uk.co.nickthecoder.drunkinvaders.Ship">
      <role vx="0.0" vy="0.0" mass="1.0" ox="320.0" oy="-1300.0" rotationSpeed="0.003" shieldRechargeRate="0.001" shieldDischargeRate="0.01"/>
    </actor>
    <text x="475.0" y="407.0" heading="7.594643368591445" zOrder="5" id="" font="boycott" fontSize="86.0" text="Drunk" color="#cc2222ff" direction="7.594643368591445" colorize=""/>
    <text x="486.0" y="331.0" heading="2.160560963458598" zOrder="6" id="" font="boycott" fontSize="61.0" text="Invaders" color="#ffffffff" direction="2.160560963458598" colorize=""/>
    <text costume="button" x="318.0" y="158.0" zOrder="8" id="" font="blackCasper" fontSize="46.0" text="About" color="#ffffffff" colorize="" role="uk.co.nickthecoder.itchy.role.SceneButton">
      <role sceneName="about"/>
    </text>
    <text costume="button" x="320.0" y="223.0" zOrder="10" id="" font="blackCasper" fontSize="46.0" text="Play" color="#ffffffff" colorize="" role="uk.co.nickthecoder.itchy.role.SceneButton">
      <role sceneName="levels"/>
    </text>
    <text costume="button" x="321.0" y="25.0" zOrder="11" id="" font="blackCasper" fontSize="68.0" text="Quit" colorize="" role="uk.co.nickthecoder.itchy.role.QuitButton"/>
    <actor costume="alien1" x="-50.0" y="229.0" heading="-90.0" zOrder="12" id="" direction="-90.0" colorize="" role="uk.co.nickthecoder.drunkinvaders.Alien">
      <role vx="0.0" vy="0.0" mass="1.0" fireOnceEvery="1.0" shotsRequired="1"/>
    </actor>
  </layer>
</scene>
