#!/usr/bin/env xdg-open

[Desktop Entry]
Name=Itchy
Comment=Itchy Game Engine
Encoding=UTF-8
X-MultipleArgs=false
Type=Application
Terminal=false
StartupWMClass=Itchy-bin
StartupNotify=true
MimeType=application/x-itchy;

