<scene showMouse="true" behaviour="uk.co.nickthecoder.itchy.NullSceneBehaviour">
  <properties/>
  <layer name="main">
    <text text="Play" font="veraBold" size="43" color="#ffffff" xAlignment="0.0" yAlignment="0.0" behaviour="uk.co.nickthecoder.itchy.extras.Button" x="100" y="500" direction="0.0" startEvent="default">
      <property name="message" value="play"/>
    </text>
    <text text="About" font="veraBold" size="43" color="#ffffff" xAlignment="0.0" yAlignment="0.0" behaviour="uk.co.nickthecoder.itchy.extras.Button" x="100" y="400" direction="0.0" startEvent="default">
      <property name="message" value="about"/>
    </text>
    <text text="Editor" font="veraBold" size="43" color="#ffffff" xAlignment="0.0" yAlignment="0.0" behaviour="uk.co.nickthecoder.itchy.extras.Button" x="100" y="300" direction="0.0" startEvent="default">
      <property name="message" value="editor"/>
    </text>
    <text text="Quit" font="veraBold" size="43" color="#ffffff" xAlignment="0.0" yAlignment="0.0" behaviour="uk.co.nickthecoder.itchy.extras.Button" x="100" y="200" direction="0.0" startEvent="default">
      <property name="message" value="quit"/>
    </text>
  </layer>
</scene>
