<scene name="menu" layout="default" sceneDirector="uk.co.nickthecoder.itchy.PlainSceneDirector" showMouse="true">
  <layer name="background"/>
  <layer name="main">
    <text x="511.0" y="552.0" font="vera" fontSize="22.0" text="Automated Tests :"/>
    <text x="30.0" y="520.0" zOrder="1" font="vera" fontSize="22.0" text="1) Animation Profiles" xAlignment="0.0" role="uk.co.nickthecoder.itchy.role.SceneButton">
      <role sceneName="profiles"/>
    </text>
    <text x="30.0" y="490.0" zOrder="2" font="vera" fontSize="22.0" text="2) Projectiles" xAlignment="0.0" role="uk.co.nickthecoder.itchy.role.SceneButton">
      <role sceneName="projectiles"/>
    </text>
    <text x="419.0" y="54.0" zOrder="3" font="vera" fontSize="57.0" text="Quit" role="uk.co.nickthecoder.itchy.role.QuitButton"/>
    <text x="30.0" y="460.0" zOrder="4" font="vera" fontSize="22.0" text="3) Explosions" xAlignment="0.0" role="uk.co.nickthecoder.itchy.role.SceneButton">
      <role sceneName="explosions"/>
    </text>
    <text x="453.0" y="518.0" zOrder="4" font="vera" fontSize="22.0" text="animation-001" xAlignment="0.0" role="uk.co.nickthecoder.itchy.role.SceneButton">
      <role sceneName="animation-001"/>
    </text>
    <text x="30.0" y="550.0" zOrder="5" font="vera" fontSize="22.0" text="0) Playground" xAlignment="0.0" role="uk.co.nickthecoder.itchy.role.SceneButton">
      <role sceneName="playground"/>
    </text>
  </layer>
</scene>
